@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;500&family=League+Gothic&family=Monoton&family=Poller+One&family=The+Nautigal:wght@400;700&display=swap');
$title_font: 'Cormorant SC', serif;

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

$palette:(
    updown: #0d020f,
    background: #160515,
    info: linear-gradient(to right, #42275a, #734b6d, #42275a),
    font: aliceblue,
    button: #50404d);

@mixin textFormat{
    text-align: center;
    text-justify: newspaper;
}

.general{
    background-color: #FF3CAC;
    background: map-get($palette, background);
    color: map-get($palette, font);
}

.header {    
    display:inline-flex;
    flex-direction: row;
    
    &__general{
        background-color: map-get($palette, updown);
    }
    
    &__title{ 
    grid-area: title;
    padding: 20px;
    font-family: $title_font;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    }

    &__navbar {
    grid-area: nav;
    padding:20px; 
    font-family: 'Cormorant SC', serif;
    font-size: medium;
    text-align: center;
    
        &__ul {
            list-style-type: none;
            text-decoration: none;
            text-align: justify;
            display:inline-block;
        
            &__li {
            display:inline-block;
            margin-left: 20px;
            margin-right:20px;
           }
        }
    }
} 
 
.a{
    color: map-get($palette, font);
    text-decoration: none;   
    
    &:link{
    color:map-get($palette, font);
    text-decoration: none;
    }

    &:hover{
    font-weight: bold;
    }

    a:active{
    color:map-get($palette, font);
    text-decoration: none;
    font-weight: bold;
    }

    a:visited{
    color:map-get($palette, font);
    text-decoration: none;
    }
}

.main{
    grid-area: content;
    padding: 50px;
    align-content: center;

    &__title{
        font-family: 'League Gothic', sans-serif;
        font-size: 60px;
        text-shadow: 0px 4px 3px coral,
             0px 8px 13px purple,
             0px 18px 23px rgba(0,0,0,0.1);
        transform: translateZ(60px);
        @include textFormat();
    }

    &__p{
        padding: 50px;
        text-justify: newspaper;
        text-align: end;
        font-size: medium;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.6;
    }
    
    &__tagline {
        font-family: 'The Nautigal', cursive;
        font-size: xx-large;
        margin: 10px;
        @include textFormat;
    }
}

.index__cover{
    display: flex;
    height: auto;
    width: 100%;
    margin: auto;
    align-items: center;
    text-align: center;
    text-justify: center;
    
    &__video{
        width: 100%;
    }
}    


.info{
    display:flex;
    flex-direction: column;
    wrap: wrap;

    &__header{
        @include textFormat;
        width:100%;
        font-family: $title_font; 
    }

    &__p{
        @include textFormat;
        width: 100%;
        background-image: map-get($palette, info);
        padding: 3%;
    }
}

.main__image{
    border-radius: 50%;    
}

.card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 

    &__inner{
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;

            :hover{
                    transform: rotateY(180deg);
            }
          }

    &__front, &__back{
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden; /* Safari */
            backface-visibility: hidden;
          }
    
        &__front{
            background-color: #bbb;
            color: black;
        }

        &__back{
        background-color: map-get($palette, updown);
        color: map-get($palette, font);
        transform: rotateY(180deg);
      }
    
    }
  

.container__card{
    grid-area: content;
    display:inline-flex;
    flex-direction: row;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    perspective: 1000px;
    padding: 10% 10% 10% 10%;
    display: flex;
    align-content: space-between;
}

.card__father{
    margin: auto;
    width:350px;
    height: 400px;
}

.card__father:hover .card{
    transform: rotateY(180deg);
}

.card{
    width:350px;
    height: 400px;
    transform-style: preserve-3d;
    transition: all 600ms;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 aquamarine;
}


.card__front, 
.card__back{
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 30px;
  
}

.card__front{
    width: 100%;
    height:100%;
    
}

.card__back{
    transform: rotateY(180deg);
    background: black;
    padding: 40px;
    text-align: center;
    
}

.body__card_front{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40 px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body__card_back{
    margin-top: 30px;
    font-size: 18px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40 px;
}

.card{
    grid-area: content;
    width: 20%;
    height: fit-content;
    object-fit: cover;
}

.card:hover {
    size: 50%;
    transition: 0.5seg;
}

.card__front_img{
    object-fit: cover;
    height: 200px;
    width: 150px;
    justify-self: center;
}

.card__container{
    padding: 20px 20px 20px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

.carouselwrap{
    width: 60%;
    height: auto;
    margin: auto;
    padding: 20px 20px 20px 20px;
}

.videoplayer{
   width: 60%;
   margin: auto;
   overflow: hidden;
   display: flex;
   justify-content:center; 
}

.form{
    font-family: $title_font;
    font-weight: bold;
    line-height: 40px;

    &__fieldset{
        text-align: center;
        display:flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: center;
        margin: 30px;
        padding: 30px;

        &__input{
            width: 75%;
            align-self: center;
        }

        &__cliente{
            @extend .form__fieldset;
            background-color: #32174d;
        }

        &__evento{
            @extend .form__fieldset;
            background-color:#734b6d; 
        }
    }

    &__button{
        background-color: map-get($palette, button);
        width: 80%;
        font-family: $title_font;
        font-size: medium;
        font-weight: bold;
        color:map-get($palette, font);
        margin-top: 30px;
        padding: 10px;
        border-radius: 30px;
        justify-content: center;
    }
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__general{
    grid-area: footer;
    color: map-get($palette, font);
    background-color: map-get($palette, updown);
    text-align: right;
    font-size: large;
    margin-top: 30px;
    padding: 30px;
}    

.copyright{
    text-align:left;
}

@media screen and (max-width: 600px) {
    #grid{
        grid-template-rows: 17% auto 17%;
        grid-template-columns: 100%;
        grid-template-areas:
        "title"
        "nav"
        "content"
        "header"
        "info"
        "footer"; 
        grid-column-gap: 10 px;
        justify-items: center;
        justify-content: space-evenly;
    }   
    .info{
        display:flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    #grid{
        grid-template-areas:
            "title"
            "nav"
            "content"
            "header"
            "p"
            "footer";
        grid-template-rows: 17% auto auto auto 17%;
        grid-template-columns: auto;
        grid-column-gap: 10 px;
        justify-items: stretch;
        justify-content: space-evenly;
    }
    
    .info{
        display:flex;
        flex-direction: column;
        
        &__header{
            width:100%;
            grid-area: header;
        }
    
        &__p{
        width:100%;
        grid-area: p;
        }
    }

    .card__father{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px) {
    #grid{
        grid-template-areas:
        "title title title" 
        "nav nav nav"
        "none content none"
        "footer footer footer";
        grid-template-rows: 17% auto 17%;
        grid-template-columns: auto;
        grid-column-gap: 20 px;
        justify-items: stretch;
        justify-content: space-evenly;
    }
}