@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;500&family=League+Gothic&family=Monoton&family=Poller+One&family=The+Nautigal:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.general {
  background-color: #FF3CAC;
  background: #160515;
  color: aliceblue;
}

.header {
  display: inline-flex;
  flex-direction: row;
  height: 20vh;
}
.header__general {
  background-color: #0d020f;
}
.header__general__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__general__container__titleDiv {
  align-self: flex-start;
  margin-top: auto;
  margin-bottom: auto;
}
.header__general__container__navDiv {
  align-self: flex-end;
}
.header__title {
  grid-area: title;
  padding: 20px;
  font-family: "Cormorant SC", serif;
  font-weight: bold;
  font-size: larger;
  text-align: center;
}
.header__navbar {
  grid-area: nav;
  padding: 20px;
  font-family: "Cormorant SC", serif;
  font-size: larger;
  text-align: center;
}
.header__navbar__checkbtn {
  float: right;
  font-size: xx-large;
  line-height: 4vh;
  padding-top: 2 vh;
  padding-bottom: 2vh;
  cursor: pointer;
  display: none;
}
.header__navbar__checkbox {
  display: none;
}
.header__navbar__ul {
  list-style-type: none;
  text-decoration: none;
  text-align: justify;
  display: inline-block;
  margin-top: 5vh;
}
.header__navbar__ul__li {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.a {
  color: aliceblue;
  text-decoration: none;
}
.a:link {
  color: aliceblue;
  text-decoration: none;
}
.a:hover {
  font-weight: bold;
}
.a a:active {
  color: aliceblue;
  text-decoration: none;
  font-weight: bold;
}
.a a:visited {
  color: aliceblue;
  text-decoration: none;
}

.main {
  grid-area: content;
  padding: 50px;
  align-content: center;
}
.main__title {
  font-family: "League Gothic", sans-serif;
  font-size: 60px;
  text-shadow: 0px 4px 3px coral, 0px 8px 13px purple, 0px 18px 23px rgba(0, 0, 0, 0.1);
  transform: translateZ(60px);
  text-align: center;
  text-justify: newspaper;
}
.main__p {
  padding: 50px;
  text-justify: newspaper;
  text-align: end;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}
.main__tagline {
  font-family: "The Nautigal", cursive;
  font-size: xx-large;
  margin: 10px;
  text-align: center;
  text-justify: newspaper;
}

.index__cover {
  display: flex;
  height: auto;
  width: 100%;
  margin: auto;
  align-items: center;
  text-align: center;
  text-justify: center;
}
.index__cover__video {
  margin-top: 5%;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
}
.info__header {
  text-align: center;
  text-justify: newspaper;
  width: 100%;
  font-family: "Cormorant SC", serif;
}
.info__p {
  text-align: center;
  text-justify: newspaper;
  width: 100%;
  background-image: linear-gradient(to right, #42275a, #734b6d, #42275a);
  padding: 3%;
}

.main__image {
  border-radius: 50%;
}

.cardContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flipCard {
  perspective: 2000px;
  padding: 5vh;
  display: flex;
  grid-gap: 5vh;
}

.flipCardInner {
  width: 25vh;
  height: 35vh;
  border-radius: 2rem;
  transform-style: preserve-3d;
  transition: all 550ms;
  position: relative;
}
.flipCardInner__front {
  height: 100%;
  width: 100%;
  border-radius: inherit;
  position: absolute;
  padding: 10%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.flipCardInner__front__img {
  border-radius: inherit;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
.flipCardInner__front__title {
  position: relative;
  justify-self: center;
  align-self: center;
  text-align: center;
}
.flipCardInner__back {
  height: 100%;
  width: 100%;
  background-color: radial-gradient(ellipse at center, #AC47EF, #561882);
  border-radius: inherit;
  position: absolute;
  padding: 10%;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  place-items: center;
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.flipCardInner__back__title {
  font-family: "Cormorant SC", serif;
  text-align: center;
}
.flipCardInner__back__text {
  text-align: center;
  text-align: center;
  text-justify: newspaper;
}
.flipCardInner__back__button {
  color: aliceblue;
  background-color: black;
  margin: 2vh;
}
.flipCardInner:hover {
  transform: rotateY(-180deg);
}

.carouselwrap {
  width: 60%;
  height: auto;
  margin: auto;
  padding: 20px 20px 20px 20px;
}

.videoplayer {
  width: 60%;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.form {
  font-family: "Cormorant SC", serif;
  font-weight: bold;
  line-height: 40px;
}
.form__fieldset, .form__fieldset__evento, .form__fieldset__cliente {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  margin: 30px;
  padding: 30px;
}
.form__fieldset__input {
  width: 75%;
  align-self: center;
}
.form__fieldset__cliente {
  background-color: #32174d;
}
.form__fieldset__evento {
  background-color: #734b6d;
}
.form__button {
  background-color: #50404d;
  width: 80%;
  font-family: "Cormorant SC", serif;
  font-size: medium;
  font-weight: bold;
  color: aliceblue;
  margin-top: 30px;
  padding: 10px;
  border-radius: 30px;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__general {
  grid-area: footer;
  color: aliceblue;
  background-color: #0d020f;
  text-align: right;
  font-size: large;
  margin-top: 30px;
  padding: 30px;
}

.copyright {
  text-align: left;
}

.icon {
  font-size: medium;
  text-decoration: none;
  color: aliceblue;
}

@media screen and (max-width: 600px) {
  #grid {
    grid-template-rows: 17% auto 17%;
    grid-template-columns: 100%;
    grid-template-areas: "title" "nav" "content" "header" "info" "footer";
    grid-column-gap: 10 px;
    justify-items: center;
    justify-content: space-evenly;
  }
  .header__navbar {
    font-size: medium;
  }
  .header__navbar__checkbtn {
    display: block;
    font-size: medium;
  }
  .header__navbar__ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #0d020f;
    left: -100%;
    text-align: center;
    transition: all 5s;
  }
  .header__navbar__ul__li {
    display: block;
    margin: 50px 0px;
    line-height: 30px;
  }
  .a {
    font-size: large;
  }
  .a:hover {
    background: #734b6d;
    background: #734b6d;
    padding: 20px;
    text-decoration: none;
    color: aliceblue;
  }
  #check:checked ~ .header__navbar__ul {
    left: 0;
  }
}
.info {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  #grid {
    grid-template-areas: "title" "nav" "content" "header" "p" "footer";
    grid-template-rows: 17% auto auto auto 17%;
    grid-template-columns: auto;
    grid-column-gap: 10 px;
    justify-items: stretch;
    justify-content: space-evenly;
  }
  .header__navbar {
    font-size: medium;
  }
  .header__navbar__checkbtn {
    display: block;
    font-size: medium;
  }
  .header__navbar__ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #0d020f;
    left: -100%;
    text-align: center;
    transition: all 5s;
  }
  .header__navbar__ul__li {
    display: block;
    margin: 50px 0px;
    line-height: 30px;
  }
  .a {
    font-size: large;
  }
  .a:hover {
    background: #734b6d;
    padding: 20px;
    text-decoration: none;
    color: aliceblue;
  }
  #check:checked ~ .header__navbar__ul {
    left: 0;
  }
  .info {
    display: flex;
    flex-direction: column;
  }
  .info__header {
    width: 100%;
    grid-area: header;
  }
  .info__p {
    width: 100%;
    grid-area: p;
  }
}
@media screen and (max-width: 1200px) {
  #grid {
    grid-template-areas: "title title title" "nav nav nav" "none content none" "footer footer footer";
    grid-template-rows: 17% auto 17%;
    grid-template-columns: auto;
    grid-column-gap: 20 px;
    justify-items: stretch;
    justify-content: space-evenly;
  }
}/*# sourceMappingURL=styles.css.map */