@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;500&family=League+Gothic&family=Monoton&family=Poller+One&family=The+Nautigal:wght@400;700&display=swap');
$title_font: 'Cormorant SC', serif;

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

$palette:(
    updown: #0d020f,
    background: #160515,
    info: linear-gradient(to right, #42275a, #734b6d, #42275a),
    font: aliceblue,
    card: radial-gradient(ellipse at center, #AC47EF, #561882),
    button: #50404d,
    menu:#734b6d);

@mixin textFormat{
    text-align: center;
    text-justify: newspaper;
}

.general{
    background-color: #FF3CAC;
    background: map-get($palette, background);
    color: map-get($palette, font);
}

.header {    
    display:inline-flex;
    flex-direction: row;
    height: 20vh;
    
    &__general{
        background-color: map-get($palette, updown);
    
        &__container{
            display: flex;
            flex-direction: row;
            justify-content:space-between;
        
            &__titleDiv{
                align-self: flex-start;
                margin-top:auto;
                margin-bottom: auto;
            }

            &__navDiv{
                align-self: flex-end;
            }
        }
    }

    
    &__title{ 
    grid-area: title;
    padding: 20px;
    font-family: $title_font;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    }

    &__navbar {
    grid-area: nav;
    padding:20px; 
    font-family: 'Cormorant SC', serif;
    font-size: larger;
    text-align: center;

        &__checkbtn{
            float: right;
            font-size: xx-large;
            line-height: 4vh;
            padding-top: 2 vh;
            padding-bottom: 2vh;
            cursor: pointer;
            display: none;
        }

        &__checkbox{
            display:none;
        }
    
        &__ul {
            list-style-type: none;
            text-decoration: none;
            text-align: justify;
            display:inline-block;
            margin-top: 5vh;
        
            &__li {
            display:inline-block;
            margin-left: 20px;
            margin-right:20px;
           }
        }
    }
} 
 
.a{
    color: map-get($palette, font);
    text-decoration: none;   
    
    &:link{
    color:map-get($palette, font);
    text-decoration: none;
    }

    &:hover{
    font-weight: bold;
    }

    a:active{
    color:map-get($palette, font);
    text-decoration: none;
    font-weight: bold;
    }

    a:visited{
    color:map-get($palette, font);
    text-decoration: none;
    }
}

.main{
    grid-area: content;
    padding: 50px;
    align-content: center;

    &__title{
        font-family: 'League Gothic', sans-serif;
        font-size: 60px;
        text-shadow: 0px 4px 3px coral,
             0px 8px 13px purple,
             0px 18px 23px rgba(0,0,0,0.1);
        transform: translateZ(60px);
        @include textFormat();
    }

    &__p{
        padding: 50px;
        text-justify: newspaper;
        text-align: end;
        font-size: medium;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.6;
    }
    
    &__tagline {
        font-family: 'The Nautigal', cursive;
        font-size: xx-large;
        margin: 10px;
        @include textFormat;
    }
}

.index__cover{
    display: flex;
    height: auto;
    width: 100%;
    margin: auto;
    align-items: center;
    text-align: center;
    text-justify: center;
    
    &__video{
        margin-top: 5%;
        width: 100%;
    }
}    


.info{
    display:flex;
    flex-direction: column;

    &__header{
        @include textFormat;
        width:100%;
        font-family: $title_font; 
    }

    &__p{
        @include textFormat;
        width: 100%;
        background-image: map-get($palette, info);
        padding: 3%;
    }
}

.main__image{
    border-radius: 50%;    
}

.cardContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flipCard{
    perspective: 2000px;
    padding: 5vh;
    display: flex;
    grid-gap: 5vh;
}

.flipCardInner{
    width: 25vh;
    height: 35vh;
    border-radius: 2rem;
    transform-style: preserve-3d;
    transition: all 550ms;
    position: relative;

    &__front{
        height:100%;
        width: 100%;
        border-radius: inherit;
        position:absolute;
        padding: 10%;
        backface-visibility: hidden;
        

        &__img{
            border-radius: inherit;
            height: inherit;
            width: inherit;
            object-fit: cover;
        }

        &__title{
            position:relative;
            justify-self: center;
            align-self: center;
            text-align: center;
        }
    }

    &__back{
        height:100%;
        width: 100%;
        background-color: map-get($palette, card);
        border-radius: inherit;
        position: absolute;
        padding: 10%;
        justify-content: center;
        align-content: center;
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        place-items: center;
        transform: rotateY(180deg); 
        backface-visibility: hidden;

        &__title{
            font-family: $title_font;
            text-align: center;
        }

        &__text{
            text-align: center;
            @include textFormat;
        }

        &__button{
            color: aliceblue;
            background-color: black;
            margin: 2vh;
        }
    }

    &:hover{
        transform: rotateY(-180deg);
    }
}

.carouselwrap{
    width: 60%;
    height: auto;
    margin: auto;
    padding: 20px 20px 20px 20px;
}

.videoplayer{
   width: 60%;
   margin: auto;
   overflow: hidden;
   display: flex;
   justify-content:center; 
}

.form{
    font-family: $title_font;
    font-weight: bold;
    line-height: 40px;

    &__fieldset{
        text-align: center;
        display:flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: center;
        margin: 30px;
        padding: 30px;

        &__input{
            width: 75%;
            align-self: center;
        }

        &__cliente{
            @extend .form__fieldset;
            background-color: #32174d;
        }

        &__evento{
            @extend .form__fieldset;
            background-color:#734b6d; 
        }
    }

    &__button{
        background-color: map-get($palette, button);
        width: 80%;
        font-family: $title_font;
        font-size: medium;
        font-weight: bold;
        color:map-get($palette, font);
        margin-top: 30px;
        padding: 10px;
        border-radius: 30px;
        justify-content: center;
    }
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__general{
    grid-area: footer;
    color: map-get($palette, font);
    background-color: map-get($palette, updown);
    text-align: right;
    font-size: large;
    margin-top: 30px;
    padding: 30px;
}    

.copyright{
    text-align:left;
}

.icon{
    font-size: medium;
    text-decoration: none;
    color: map-get($palette, font)
    margin: 5px;
}

@media screen and (max-width: 600px) {
    #grid{
        grid-template-rows: 17% auto 17%;
        grid-template-columns: 100%;
        grid-template-areas:
        "title"
        "nav"
        "content"
        "header"
        "info"
        "footer"; 
        grid-column-gap: 10 px;
        justify-items: center;
        justify-content: space-evenly;
    }   

    .header__navbar{
        font-size: medium;

        &__checkbtn{
            display:block;
            font-size: medium;
        }

        &__ul{
            position: fixed;
            width: 100%;
            height: 100vh;
            background: map-get($palette, updown);
            left: -100%;
            text-align: center;
            transition: all 5s;

            &__li{
                display:block;
                margin: 50px 0px;
                line-height: 30px;
            }
        }
    }

    .a {
        font-size:large;
        &:hover{
            background: map-get($palette, menu);
            background: map-get($palette, menu);
            padding: 20px;
            text-decoration: none;
            color: map-get($palette, font);
        }
    }

    #check:checked ~ .header__navbar__ul{
        left: 0;
    }
    }

    .info{
        display:flex;
        flex-direction: column;
    }


@media screen and (max-width: 768px) {
    #grid{
        grid-template-areas:
            "title"
            "nav"
            "content"
            "header"
            "p"
            "footer";
        grid-template-rows: 17% auto auto auto 17%;
        grid-template-columns: auto;
        grid-column-gap: 10 px;
        justify-items: stretch;
        justify-content: space-evenly;
    }
    
    .header__navbar{
        font-size: medium;

        &__checkbtn{
            display:block;
            font-size: medium;
        }

        &__ul{
            position: fixed;
            width: 100%;
            height: 100vh;
            background: map-get($palette, updown);
            left: -100%;
            text-align: center;
            transition: all 5s;

            &__li{
                display:block;
                margin: 50px 0px;
                line-height: 30px;
            }
        }
    }

    .a {
        font-size:large;
        &:hover{
            background: map-get($palette, menu);
            padding: 20px;
            text-decoration: none;
            color: map-get($palette, font);
        }
    }

    #check:checked ~ .header__navbar__ul{
        left: 0;
    }
    .info{
        display:flex;
        flex-direction: column;
        
        &__header{
            width:100%;
            grid-area: header;
        }
    
        &__p{
        width:100%;
        grid-area: p;
        }
    }
}

@media screen and (max-width: 1200px) {
    #grid{
        grid-template-areas:
        "title title title" 
        "nav nav nav"
        "none content none"
        "footer footer footer";
        grid-template-rows: 17% auto 17%;
        grid-template-columns: auto;
        grid-column-gap: 20 px;
        justify-items: stretch;
        justify-content: space-evenly;
    }
}

